importFrom(ggrepel, geom_text_repel)
importFrom(stringr, fixed, str_detect, str_match, str_wrap)
importFrom(ggplot2, aes, element_text, expansion, geom_point, geom_segment,
           ggplot, ggsave, guide_colorbar, guide_legend, guides, labs,
           scale_color_gradientn, scale_colour_manual,
           scale_size_continuous, scale_x_continuous, scale_y_discrete,
           theme, theme_bw)
importFrom(dplyr, rename, select, "%>%")
importFrom(tools, file_path_sans_ext)
importFrom(rlang, .data)
importFrom(stats, na.omit, weighted.mean, model.matrix, p.adjust, setNames)
importFrom(BiocParallel, bpparam, bplapply)
importFrom(GenomicRanges, GRanges, findOverlaps, reduce, trim, resize, width, start, end, seqnames)
importFrom(IRanges, IRanges, ranges)
importFrom(AnnotationHub, AnnotationHub, query, dbconn)
importFrom(ensembldb, genes, metadata)
importFrom(DBI, dbDisconnect)
importFrom(GenomeInfoDb, seqlevels, genome)
importFrom(S4Vectors, queryHits, subjectHits, mcols,"mcols<-")
importFrom(rtracklayer, import)
importFrom(limma, lmFit, makeContrasts, contrasts.fit, eBayes, topTable)
importFrom(NOISeq, noiseq, degenes, readData)
importFrom(BioVenn, draw.venn)
importFrom(tibble, rownames_to_column, column_to_rownames)
importFrom(utils, write.csv, modifyList, head, globalVariables, capture.output)
importFrom(grDevices, pdf, dev.off, png, rgb)
importFrom(clusterProfiler, bitr, enrichGO, dotplot)
importFrom(forcats, fct_reorder)
importFrom(scales, hue_pal, scientific_format, number_format)
importFrom(methods, is, new)
importFrom(DT, datatable, DTOutput, formatRound, renderDT)
importFrom(igvShiny, igvShiny, igvShinyOutput, loadBedGraphTrack, loadBedTrack, parseAndValidateGenomeSpec, renderIgvShiny, showGenomicRegion)
importFrom(shiny, fluidPage, h4, hr, mainPanel, observeEvent, p, runApp, shinyApp, sidebarLayout, sidebarPanel, titlePanel)


export(load_data.peaks)
export(load_data.genes)
export(build_dataframes)
export(get_ensdb_genes)
export(gene_occupancy)
export(gr_occupancy)
export(reduce_regions)
export(all_overlaps_to_original)
export(plot_volcano)
export(differential_binding)
export(differential_accessibility)
export(plot_venn)
export(quantile_normalisation)
export(quantile_normalization)
export(browse_igv_regions)
export(analyse_go_enrichment)
export(analyze_go_enrichment)
